Game/Meow Gear Solid VR/Library/ShaderCache.db
Game/Meow Gear Solid VR/Library/SceneVisibilityState.asset
Game/Meow Gear Solid VR/Library/SourceAssetDB
Game/Meow Gear Solid VR/Library/ShaderCache.db
Game/Meow Gear Solid VR/Library/SceneVisibilityState.asset
*.log
Game/Meow Gear Solid VR/Logs/shadercompiler-AssetImportWorker0.log
*.log
Game/Meow Gear Solid VR/Logs/shadercompiler-AssetImportWorker0.log
*.log
*.pdb
Game/Meow Gear Solid VR/LevelStates/*.json
Game/Meow Gear Solid VR/LevelStates/MASTERSCENE.json
Game/Meow Gear Solid VR/LevelStates/Jose Scene.json
Game/Meow Gear Solid VR/LevelStates/InteriorFirstFloor.json
Game/Meow Gear Solid VR/Library/Artifacts
Game/Meow Gear Solid VR/Library/Bee
Game/Meow Gear Solid VR/Library/PackageCache
